{% extends 'base.html' %}}
{% block content %}



  <div class="row">
    <form class="col s12" method="post">
                {{ form.csrf_token}}

        <div class="row">
        <div class="input-field col s12">
            {{form.email}}
          <label for="{{form.email.id_for_label}}">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            {{ form.password }}
          <label for="{{form.password.id_for_label}}">Password</label>
        </div>
      </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
        </button>

    </form>
  </div>
{% endblock %}